{% extends "base.html.twig" %}

{% block body %}

    {% block nav %}
    <div class="non-printable">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SerlEdge</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome {{ app.user.username }}!</a></li>
            <li><a href="{{ path('redstar_security_logout') }}">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
     
    <div class="container-fluid">
        <div class="row">  
            <div class="col-sm-2 col-md-2 sidebar">
               {{ knp_menu_render('main') }}
            </div>
            {% block content %}

            {% endblock %}
        </div>
			
    </div>
    </div>
       
   {# Include the modal container divs for the modal popups. This is triggered by
      data-toggle="modal" data-target="#myModal" attr in the grid buttons, so it has to be present
      somewhere viewable by this template. (TODO: find out a better way to inherit it)
   #} 
  
    {% include '_modal.html.twig' %} 
   
{% endblock %}
