
<div style='background: #353844;color:white;padding:10px;font-family: "Exo",sans-serif;'>
    <div style='font-size: 59px;
    font-weight: 200;'>
        serl<span style='color:#5379FA'>EDGE</span>
    </div>
    
    <p>
    Hi {{ name }}, 
    <br>
    <br>
    A password has been requested for your username '{{ username }}'.
    <br>
    <br>
    Please click on the following link to enter your password for serlEDGE.
    <br>
    {{ url('serlimar_serledge_reset_password',{'token': token }) }}
    <br>
    <br>
    If the link does not work, copy/paste it in your browser to (re)set your password.
    <br>
    <br>
    If you have any question regarding this email, please contact the helpdesk (+297 5946461) for assistance.
    </p>
    <p>
    Kind Regards,
    <br>
    <br>
    
    serlEDGE Helpdesk
    </p>
</div>