        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">User {{ user.id }}</h4>
        </div>
        <div class="modal-body">
            <div class="printable">
                
              Implement view for roles
             
            
            </div>
            <div class="clearfix"></div>
            <hr/>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>


            
